<div class="banner">

  <div class="user-card">

    <div class="pf-title">
      <% if current_user == @user %>

        <h1><%= current_user.nickname.capitalize %></h1>
        <p>"<%= current_user.slogan.capitalize %>"</p>

      <% else %>
        <h1><%= @user.nickname %>'s Profile</h1>
        <p><%= @user.slogan %></p>
      <% end %>
    </div>

    <div>
      <% if @user.prof_pic.attached? %>
        <%= cl_image_tag @user.prof_pic.key, class:"user-pic", height: 300 %><br>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/ddclrx1ajasdf/image/upload/v1614812119/placeholder_avatar/1200px-Avatar_icon_green.svg_tire2w.png", style: "height: 300px" %>
      <% end %>
    </div>

  </div>

</div>




  <div class="container about-me-box">

    <div class="pf-info">
      <% if  @user.rich_body.to_s == "" && current_user == @user %>
        <h1>Hey, why don't you put a text about yourself here?</h1>
      <% elsif @user.rich_body.to_s == "" %>
        <h1>Sorry, this user does not have a profile text yet..</h1>
      <% else %>
        <%= @user.rich_body %>
      <% end %>
    </div>

    <% if current_user == @user %>

        <%= link_to "Edit profile", edit_profile_path, class: "btn btn-panel" %>

    <% end %>




  </div>






