<%= render 'shared/banner' %>

<div class="container">
  <% @posts.each do |post| %>
    <div class="w-100 post-view">
      <div class="col-8 post-resume">

        <div class="post-content">
          <div class="user-data">
            <%= cl_image_tag post.user.prof_pic.key, class:"avatar-bordered" %>
            <p>Posted by <%= post.user.nickname %> </p>
            <span class="rating" id="stars"><%= render "/shared/stars", rating: post.rating_avg %>
              <span id="views">(<%= post.ratings.count %>)</span>
            </span>
          </div>
          <div class="container post-text">
          <h3>"<%= post.title %>"</h3>
          <p>
            <%= truncate(post.rich_body.to_plain_text.squish, length: 250)  %>
          </p>
          </div>
          <div class="btn-panel-container">
              <%= link_to "View", post_path(post), class:"btn-panel"%>
          </div>
        </div>
      </div>
        <% if post.photos.attached? %>
        <div class="post-img col-4 post-img" style="background-image: url(<%= cl_image_path post.photos.last.key %>);"></div>
        <% else %>
        <div class="post-img col-4 post-img" style="background-image: url(https://res.cloudinary.com/ddclrx1ajasdf/image/upload/v1614952509/placeholder_avatar/pexels-pixabay-56875_cdviyq.jpg);"></div>
        <% end %>
    </div>
 <% end %>
</div>
