<div class="container">
  <% @posts.each do |post| %>
    <div class="row w-100 post-view">
      <div class="col-8 post-resume">

        <div class="post-text">
          <div class="user-data">
            <%= cl_image_tag current_user.prof_pic.key, class:"avatar-bordered" %>
            <p>Posted by <%= current_user.nickname %> </p>
            <ul class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </ul>
          </div>
          <div>
          <h3>"<%= post.title %>"</h3>
          <p>
            <%= truncate(post.rich_body.to_plain_text.squish, length: 250)  %>
          </p>
          </div>
          <div class="btn-panel-container">
              <%= link_to "VIEW POST", post_path(post), class:"btn btn-panel"%><br>
              <%= link_to "DELETE POST", post_path(post), method: :delete, class:"btn btn-panel" %><br>
              <%= link_to "EDIT POST", edit_post_path(post), class:"btn btn-panel" %>
          </div>
        </div>
      </div>
        <div class="post-img col-4 post-img" style="background-image: url(<%= cl_image_path post.photos.last.key if post.photos.attached? %>);"></div>
    </div>
 <% end %>
</div>
