<h1>Posts#show</h1>
<div class="container w-50">
    <h1><%= @post.title %></h1>
    <% if @post.photos.attached? %>
      <%= cl_image_tag @post.photos.last.key, height: 300, width: 400 %><br>
    <% end %>
    <%= link_to "EDIT POST", edit_post_path(@post) %>
    <p>
      <%#= @post.rich_body %>

    </p>
    <p>
      <%= render layout: "layouts/action_text/contents/content" do %>
        <%= @post.rich_body %>
      <% end %>
    </p>

</div>
