<div class="container">
  <div class="post-box">

    <div id="post-headline">
      <span id="post-title"><h1><%= @post.title %></h1></span>
      <span id="stars"><%= render "/shared/stars", rating: @post.rating_avg %>
        <span id="views">(<%= @post.ratings.count %>)</span>
      </span>
    </div><br>

    <div class="post-core">
      <% if @post.photos.attached? %>
        <%= cl_image_tag @post.photos.last.key, height: 300, width: 400, crop: :fill %><br>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/ddclrx1ajasdf/image/upload/v1614952509/placeholder_avatar/pexels-pixabay-56875_cdviyq.jpg", style: "height: 300px" %>
      <% end %>
      <div class="list-head">
        <span><strong>Hack Expectations:</strong></span>
        <div><br></div>
        <div class="expectations"><span>CO2 Savings: </span><span><em><%= @post.expect_co2 %></em></span></div>
        <div class="expectations"><span>Waste Reduction: </span><span><em><%= @post.expect_waste %></em></span></div>
        <div class="expectations"><span>Resource Savings: </span><span><em><%= @post.expect_resources %></em></span></div>
        <div class="expectations"><span>DIY Effort: </span><span><em><%= @post.expect_diyeffort %></em></span></div>
        <div class="expectations"><span>Backfire Cost: </span><span><em><%= @post.expect_ecocost %></em></span></div>
      </div>
      <div class="single-ratings">
        <div><strong>Goals Met?</strong></div><br>
        <div class="single-stars"><%= render "/shared/stars", rating: @post.ratings.exists? ? @post.ratings.first.co2 : 0 %></div>
        <div class="single-stars"><%= render "/shared/stars", rating: @post.ratings.exists? ? @post.ratings.first.waste : 0 %></div>
        <div class="single-stars"><%= render "/shared/stars", rating: @post.ratings.exists? ? @post.ratings.first.resources : 0 %></div>
        <div class="single-stars"><%= render "/shared/stars", rating: @post.ratings.exists? ? @post.ratings.first.diyeffort : 0 %></div>
        <div class="single-stars"><%= render "/shared/stars", rating: @post.ratings.exists? ? @post.ratings.first.ecocost : 0 %></div>
      </div>
    </div>

    <% if @post.user == current_user %>
      <div id="post-subline">
        <span><%= link_to "EDIT POST", edit_post_path(@post), class: "btn btn-panel" %></span>
        <p>You last updated this post at <%= @post.updated_at.strftime("%a, %b %e at %l:%M%p") %></p>
      </div>
    <% elsif current_user != nil && current_user.ratings.where(post_id: @post).exists? %>
      <div id="post-subline">
          <span><strong>You already rated this post at </strong><%= current_user.ratings.where(post_id: @post)[0].updated_at.strftime("%a, %b %e, %l:%M%p") %></span>
          <span>
            <p>Post created at <%= @post.updated_at.strftime("%a, %b %e, %l:%M%p") %> by </p><strong></strong><a href="<%= profile_path(@post.user) %>"><%= @post.user.nickname %><img src="<%= cl_image_path @post.user.prof_pic.key %>" class="avatar-post"/></a><%= link_to '<i class="far fa-comments speech-bubbles"></i>'.html_safe, conversations_path(post_id: @post.id), method: :post %>
          </span>
      </div>
    <% else %>
      <div id="post-subline">
      <span class="btn btn-large" id="rating-button">RATE POST!</span>
          <span>
            <%# @conversation.receiver = @post.user %>
            <p>Post created at <%= @post.updated_at.strftime("%a, %b %e, %l:%M%p") %> by </p><strong></strong><a href="<%= profile_path(@post.user) %>"> <%= @post.user.nickname %> <img src="<%= cl_image_path @post.user.prof_pic.key %>" class="avatar-post"/></a><%= link_to '<i class="far fa-comments speech-bubbles"></i>'.html_safe, conversations_path(post_id: @post.id), method: :post %>
          </span>
      </div>
      <div class="not-visible" id="rating-form">

        <%# if @post.ratings.exists? && @post.ratings.where(user_id: current_user).exists? %>
<!--         <div class="single-stars"><%# = render "/shared/stars", rating: @post.ratings.where(user_id: current_user.id).co2 %></div>
 -->


        <span data-controller="rating">
          <div class="rater" data-action="submit->rating#fetchStars">
            <%= simple_form_for [ @post, @rating ] do |f| %>
              <%= f.input :co2, collection: 1..5, as: :radio_buttons, id: 'fuck' %>
              <%= f.input :waste, collection: 1..5, as: :radio_buttons %>
              <%= f.input :resources, collection: 1..5, as: :radio_buttons %>
              <%= f.input :diyeffort, collection: 1..5, as: :radio_buttons %>
              <%= f.input :ecocost, collection: 1..5, as: :radio_buttons %>
              <%= f.submit %>
            <% end %>

            <div data-rating-target="stars">
            </div>

          </div>
        </span>


      </div>

    <% end %>
  </div>
</div>

<div class="container w-50">
  <div class="post-box">
    <div>
      <%= render layout: "layouts/action_text/contents/content" do %>
        <%= @post.rich_body %>
      <% end %>
    </div>
  </div>
</div>

<div class="container w-50">

  <br><br>

  <div id="comments">

    <div><h4>Comments</h4></div>

    <%= simple_form_for [@post, @comment] do |f| %>
      <%= f.input :content, label: false %>
      <%= f.submit "Leave a comment",class: "btn btn-panel" %>
    <% end %>

    <% @post.comments.each do |comment|%>
      <%= render "comment", comment: comment %>

      <%= simple_form_for @reply do |f| %>
        <%= f.input :content, label: false %>
        <%= hidden_field_tag(:comment_id, comment.id) %>
        <%= hidden_field_tag(:user_id, current_user.id) %>
        <%= f.submit "reply",class: "btn btn-panel" %>
      <% end %>

      <% comment.replies.each do |reply| %>
        <%= render 'reply', reply: reply %>
      <% end %>
    <% end %>
  </div>

</div>
