<!DOCTYPE html>
<html>
  <head>
    <title>TheEcosystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# = stylesheet_pack_tag 'application' %> <!-- disabled because otherwise webpacker throws errors on Heroku -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= favicon_link_tag asset_path('logo.png') %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= render 'shared/flashes' %>

    <audio hidden="true" class="audios" id="message-audio" controls preload="none"> 
      <source src="/audios/message.mp3" type="audio/mpeg">
    </audio>

    <% if user_signed_in? %>
      <div id="nickname" style="display: none"><%= current_user.nickname %></div>
      <% current_uri = request.env['PATH_INFO'] %>
      <% if current_uri.split('/')[1] != "conversations" %>
        <% current_user.update(conversation_channel: 0)  %>
      <% end %>
    <% end %>
    

    <%= yield %>
  </body>
</html>
